[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
ExecStart=/usr/local/sbin/node_exporter-1.9.0.linux-amd64/node_exporter --no-collector.filesystem
User=nobody

[Install]
WantedBy=multi-user.target